<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>
<body class="home">
    
    <div class="container">

        <div class="top">
            <p>Favlists</p>
            <% if (user) { %>
                <div class="nav">
                    <a href="/profile">Profile</a>
                    <a href="/movies">Movies</a>
                </div>
            <% } %>
        </div>

        <div class="content">

            <div class="tagline">
                <p>The one stop solution for keeping track of your favorite stuff</p>
                <p class="sub">Includes movies, TV shows, books, and more!</p>
                <a href="#more">
                    <div class="readmore">
                        <p>Learn More</p>
                        <img src="chevron-down.png">
                    </div>
                </a>    
            </div>

            <% if (user) { %>
                <div class="signedin">
                    <p>Welcome, <%= user.username%></p>
                </div>
            <% } else { %>
                <div class="signup">
                    <p>To get started, sign up/sign in with Google!</p>
                    <a href="/auth/google">
                        <img src="google.png">
                    </a>
                </div>
            <% } %>
            
        </div>


    </div>

    <a name="more">
        <div class="more-content">
            sfsdfdsf
        </div>
    </a>

</body>
</html>