<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>
<body class="home">
    
    <%- include('navbar', {
        home: true,
        user: user
    }); %>

    <div class="container">
        <div class="content">
            <div class="tagline">
                <p>The one stop solution for keeping track of your favorite stuff</p>
                <p class="sub">Includes movies. TV shows, books, and more to come!</p>
                <!-- <a href="#more">
                    <div class="readmore">
                        <p>Learn More</p>
                        <img src="chevron-down.png">
                    </div>
                </a>     -->
            </div>

            <% if (user) { %>
                <div class="signedin">
                    <p>Welcome, <%= user.username %></p>
                </div>
            <% } else { %>
                <div class="signup">
                    <p>To get started, sign up/sign in with Google!</p>
                    <!-- <a href="/auth/google">
                        <img src="google.png">
                    </a> -->
                    <a href="/auth/google">
                        <div>
                            <img src="googlebox.png" class="googlebox">
                            <p>Sign in with Google</p>
                        </div>
                    </a>
                </div>
            <% } %>
            
        </div>


    </div>
<!-- 
    <a name="more">
        <div class="more-content">
            sfsdfdsf
        </div>
    </a> -->

    <%- include('jquery'); %>
</body>
</html>