/* VARIABLES */

:root {
    --primary-red: #db1616;
    --light-red: #db5353;
}

/*************/

body, html {
    margin: 0;
    padding: 0;
}

body.home {
    background: linear-gradient(var(--primary-red), #ffa1a4)
}

.container {
    min-height: 900px;
    padding: 0 10%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .nav a {
    color: white;
    font-size: 24px;
    margin: 0;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 100;
    margin-right: 50px;
}

.top .nav a:hover {
    text-decoration: underline;
}

.container .top p {
    color: white;
    font-size: 50px;
    font-family: 'Raleway';
    font-weight: 800;
    font-style: italic;
}

.container .content {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}

.container .content .tagline {
    color: white;
    font-size: 50px;
    width: 50%;
    font-family: 'Raleway';
}

.container .content .tagline p.sub{
    font-size: 20px;
    font-weight: 100;
}

.container .content .tagline .readmore {
    font-size: 24px;
    font-weight: 100;
    cursor: pointer;
    text-align: center;
}

.tagline a {
    color: white;
}

.readmore p {
    width: fit-content;
    margin: 50px auto 5px auto;
}

.readmore p:hover + img {
    transform: translateY(20px);
}

div.signup {
    width: 25%;
    height: 300px;
    padding: 50px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

div.signup p {
    font-size: 30px;
    font-family: 'Raleway';
    font-weight: 800;
}

div.readmore img {
    filter: invert(100%);
    width: 40px;
    transition: transform 500ms;
}

.readmore img:hover {
    transform: translateY(20px);
}

.more-content {
     background-color: white;
     min-height: 1000px;
}

.signedin p {
    color: white;
    font-size: 50px;
    font-family: 'Raleway';
}

.signedin {
    width: 30%;
}

.signup img.googlebox {
    height: 50px;
    width: 50px;
}

.signup a div {
    background-color: #4285F4;
    display: flex;
    padding: 5px;
    align-items: center;
    width: 210px;
    margin: auto;
}

.signup a p {
    margin: 0;
    color: white;
    font-size: 18px;
    margin-left: 5px;
}

.signup a {
    text-decoration: none;
}

/**RESPONSIVE NAVBAR**/

.navbar {
    background-color: var(--primary-red);
    padding: 25px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 20px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar a.home {
    font-size: 50px;
    font-family: 'Raleway';
    font-weight: 800;
    font-style: italic;
}

.navbar .right a {
    margin-left: 50px;
}

.navbar i {
    display: none;
}

.extended-navbar {
    display: none;
    border-bottom: 4px solid var(--primary-red);
    flex-direction: column;
    font-size: 20px;
    text-align: center;
}

.extended-navbar a {
    color: var(--primary-red);
    text-decoration: none;
    padding: 10px;
}

.extended-navbar a:hover {
    background-color: var(--primary-red);
    color: white;
}

.navbar .fa-times {
    display: none;
}

.navbar.home {
    background-color: white;
}

.navbar.home a {
    color: var(--primary-red);
}

.navbar.home i {
    color: var(--primary-red);
}

.extended-navbar.home {
    background-color: white;
}

.extended-navbar a {
    font-family: 'Raleway';
}

.profile {
    display: flex;
    padding: 5% 5% 0 20%;
}

.profile .left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .left .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile .left p.name {
    font-size: 24px;
    font-family: 'Raleway';
}

.profile .left a {
    background-color: var(--light-red);
    width: 50%;
    min-width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Raleway';
    border-radius: 10px;
}

.profile .left a:hover {
    background-color: var(--primary-red);
}

.profile .right {
    margin-left: 20%;
    width: 100%;
}

.profile .right .movies p {
    font-size: 24px;
    margin: 0;
    font-family: 'Raleway';
    text-decoration: underline;
}

.profile .movies .list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}

.profile .movies .list .item {
    margin-right: 25px;
}

.profile .movies .more p, .profile .movies .more a {
    text-decoration: none;
    color: var(--primary-red);
    margin-top: 25px;
}

.profile .movies .more p:hover {
    text-decoration: underline;
}

/* 
.profile .movies .list .item:last-of-type {
    margin-right: 0;
} */

@media only screen and (max-width: 1000px) {

    .container .content {
        flex-direction: column;
        margin-top: 0;
    }

    .container .content .tagline {
        width: 100%;
    }

    .content .signup {
        width: 100%;
        box-sizing: border-box;
        margin-top: 50px;
    }

    .container {
        padding-bottom: 50px;
    }

    div.signedin {
        text-align: center;
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    div.signup p {
        margin: 0;
        font-size: 18px;
    }

    div.signup a div {
        margin-top: 50px;
        width: 60px;
    }

    div.signup a div img {
        margin: auto;
    }

    div.signup a p {
        display: none;
    }

    div.signup {
        padding: 50px 25px;
    }

    .navbar a.home {
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .navbar i {
        display: flex;
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .navbar .right {
        display: none;
    }
}

